[data-template="crumble"] {
	.k-block-name {
		display: none;
	}

	.k-block-label {
		color: var(--color-text);
	}

	.k-field-name-consentboxposition,
	.k-field-name-consentcloudposition {
		.k-toggles-input ul {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
